/* styles.css */
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Color Variables */
:root {
  --primary-color: #05F2DB;
  --secondary-color: #758C72;
  --tertiary-color: #B6BFB4;
  --quaternary-color: #D9D496;
  --text-color: #0D0D0D;
}

/* Reset and Globals */
body {
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 1.6;
  background-color: var(--tertiary-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

/* Centering content */
.center-content {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

/* For Primary Menu */
nav ul {
  background-color: var(--primary-color);
  color: var(--text-color);
  overflow: hidden;
}

nav ul li {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
}

nav ul li a {
  color: var(--text-color);
  text-decoration: none;
}

/* Main Content */
.main {
  padding: 20px;
}

/* About Page Photo */
.about-photo {
  width: 300px;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Bio Section */
#bio h2 {
  font-size: 1.5em;
  margin-top: 20px;
}

#bio p {
  margin-bottom: 20px;
}

/* Headers */
h1, h2, h3 {
  text-align: center;
  color: var(--secondary-color);
}

/* Links */
a {
  color: var(--quaternary-color);
}

/* Footer */
.site-footer {
  background-color: var(--primary-color);
  color: var(--text-color);
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
